body {
    margin: 0px;
    padding: 0px;

}
#upload-wrapper {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    background: #3D91A2;
    padding: 50px;
    border-radius: 10px;
}

#upload-files {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background: lightblue;
    padding: 10px;
    border-radius: 10px;
}
#upload-wrapper h3 {
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 20px 0px;
    margin-top: -30px;
    border-bottom: 1px dotted #DDD;
}
#upload-wrapper input[type=file] {
    padding: 6px;
    background: #FFF;
    border-radius: 5px;
    color: black;
}
#upload-wrapper #submit-btn {
    border: none;
    padding: 10px;
    background: #61BAE4;
    border-radius: 5px;

}
#output{
    padding: 5px;
    font-size: 12px;
    color: whitesmoke;
}

/* prograss bar */
#progressbox {
    border: 1px solid #CAF2FF;
    padding: 1px; 
    position:relative;
    width:400px;
    border-radius: 3px;
    margin: 10px;
    display:none;
    text-align:left;
}
#progressbar {
    height:20px;
    border-radius: 3px;
    background-color: #CAF2FF;
    width:1%;
}
#statustxt {
    top:3px;
    left:50%;
    position:absolute;
    display:inline-block;
    color: #FFFFFF;
}
.button1 {
    background-color: darkcyan;
    border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 0;
    padding: 3px 10px 4px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;


}
