/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/* Add a background color on hover */
.button:hover {
    background-color: #3e8e41;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.flex-container > div {
    margin: 10px;
    padding: 10px;
    min-width: 300px;
}
.flex-container-toy > div {

}
.flex-search {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.flex-search > div{
    margin: 5px;
}
.flex-toys {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    height:30px;
}
.flex-roster {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    height:30px;
}
.flex-toys:hover{
    background-color: #d5aae6;
    font: black;
}
.flex-roster:hover{
    background-color: #d5aae6;
    font: black;
}

div.columns:nth-of-type(1){
    flex: 0 0 100px; /* make this flex item 250px wide and non flexing */

}
div.columns:nth-of-type(2){
    padding-left: 5px;
    flex: 0 0 200px; /* make this flex item 250px wide and non flexing */
    overflow: hidden;
}

div.columns:nth-of-type(3){
    flex: 7; /* make this flex item 250px wide and non flexing */
    flex: 0 0 300px; /* make this flex item 250px wide and non flexing */
    padding-left: 10px;
    overflow: hidden;
}
div.columns:nth-of-type(4){
    flex: 0 0 300px; /* make this flex item 250px wide and non flexing */
    padding-left: 10px;
    overflow: hidden;
}
div.columns:nth-of-type(5){
    padding-left: 10px;
    flex: 0 0 110px; 
    overflow: hidden;/* make this flex item 250px wide and non flexing */
}
div.columns:nth-of-type(6){
    flex: 0 0 50px;  /* make this flex item 250px wide and non flexing */
    overflow: hidden;
}
div.columns:nth-of-type(7){
    flex: 0 0 100px;  /* make this flex item 250px wide and non flexing */
}
div.columns_roster:nth-of-type(1){
    flex: 0 0 200px; /* make this flex item 250px wide and non flexing */

}
div.columns_roster_blank:nth-of-type(1){
    flex: 0 0 200px;
    background-color: lightyellow;/* make this flex item 250px wide and non flexing */

}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px, 1fr));
    justify-content: space-between;

}
.child  {
    padding-left: 10px;


}
.logo_small {
    display: none;
}
.logo {
    display: block;
}
#button1_logout {
    background-color: #980000;
    border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 0;
    padding: 3px 10px 4px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

}

@media (max-width: 500px) {
    .col-sm-12{
        height: 50px;
        padding-bottom: 20px;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 5px;
        max-width: 300px;
    }
    .flex-container > div {
        margin: 10px;
        padding: 5px;
        max-width: 250px;
        min-width: 250px;

    }

    .logo {
        display: none;
    }
    .logo_small {
        display: block;
    }
    .flex-content{
        display:inline-block;

    }

    .flex-search  {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(220px, 1fr));
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    div.columns:nth-of-type(1){

    }
    div.columns:nth-of-type(2){
        display: none;
        padding-left: 10px;
    }
    div.columns:nth-of-type(3){
        display: none;
    }
    div.columns:nth-of-type(5){
        display: none;
    }
    div.columns:nth-of-type(6){
        display: none;
    }
    div.columns:nth-of-type(7){
        display: none;
    }





}
@media (min-width: 500px) and (max-width: 1000px) {
    .col-sm-12{
        height: 60px;
    }

    .flex-search  {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(220px, 1fr));
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .flex-content{
        display:inline-block;
        width: 445px;

    }
    div.columns:nth-of-type(2){
        padding-left: 10px;
    }
    div.columns:nth-of-type(3){
        display: none;
    }
    div.columns:nth-of-type(5){
        display: none;
    }
    div.columns:nth-of-type(6){

    }
    div.columns:nth-of-type(7){
        display: none;
    }
    .logo {
        display: none;
    }
    .logo_small {
        display: block;
    }




}

tr#red:hover{
    background-color: #e6b0aa;
    font: black;
    cursor:pointer;

}



html { font-family: sans-serif; line-height: 1.15; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { margin: 0; }
article, aside, footer, header, nav, section { display: block; }
h1 { font-size: 2em; margin: .67em 0; }
figcaption, figure, main{ display: block; }
figure{ margin: 1em 40px; }
hr { box-sizing: content-box; height: 0; overflow: visible; }
pre { font-family: monospace, monospace; font-size: 1em; }
a { background-color: transparent; -webkit-text-decoration-skip: objects; }
a:active,a:hover{outline-width:0}
abbr[title] { border-bottom: none; text-decoration: underline; text-decoration: underline dotted; }
b, strong { font-weight: inherit; font-weight: bolder; }
code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }
dfn { font-style: italic; }
mark { background-color: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: -.25em; }
sup { top: -.5em; }
audio,video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
img { border-style:none; }
svg:not(:root) { overflow: hidden;}
button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.3; margin: 0; color: inherit; }
button, input { overflow: visible; }
select { text-transform: none; }
button,input[type=submit]{
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 5px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}
button:hover {
    background-color: #3e8e41;
}
button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{ border-style:none; padding: 0; }
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline:1px dotted ButtonText; }
fieldset { border: 1px solid #c0c0c0; margin:0 2px; padding: .35em .625em .75em; }
legend { box-sizing: border-box; color:inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }
progress { display: inline-block; vertical-align: baseline; }
textarea { overflow: auto; }
[type="checkbox"], [type="radio"] { box-sizing: border-box; padding: 0; }
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button{ height: auto; }
[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-file-upload-button { -webkit-appearance: button; font: inherit;}
details, menu { display: block; }
summary { display:list-item }
canvas { display: inline-block; }
template { display: none; }
[hidden] { display: none; }

optgroup { font-weight: 700 }
table { 
    border-collapse: collapse; border-spacing: 0; }
td, th, ul, ol { padding: 0; }
blockquote { color: #777; margin: 10px 0 20px 15px; padding: 5px 0 5px 15px; border-left: 3px solid #cccccc; }
blockquote p { color: #777; }
blockquote cite { display: block; color: #555555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a { color: #555555; }
blockquote cite a:visited { color: #555555; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
iframe { border: 0; }

*, :before, :after { box-sizing: border-box; }
html { font-size: 0.8em; height: 100%; }
body { font-family: 'Open Sans', Verdana, Tahoma, Arial, sans-serif; line-height: 1.6; text-align: left; color: #555555; background-color: #ffffff; height: 100%; text-rendering: optimizeLegibility !important; /*-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;*/ }
nav ul, nav ol, #nav ul, #navbar ul, #nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

.cfix:after { content: ""; display: table; clear: both; }
.img_resp { display: block; width: auto; max-width: 100%; height: auto; }
[role="button"] { cursor: pointer; }

/* ----------------------------------------------------------------------------
        Containers & Grid
----------------------------------------------------------------------------- */
.wrap { width: 100%; }
.container, .row {
    display: block;
    margin: 0 auto;
    /*padding-left: 15px;
    padding-right: 15px;*/
    /*width: 94%;*/
    width: 100%;
    max-width: 1200px; /* 1170px content area */
    /*max-width: 540px;*/
    transition: all 0.3s ease 0s;
}
.container.boxed {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1230px; /* 1170px content area */
    background: #e1e1e1; /* just here for demo */
}
.row {
    clear: both;
    width: auto;
    max-width: 1200px;
    /*margin-left: -15px;
    margin-right: -15px;*/
}
.container.fluid {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1200px; /* 1170px content area */
    /*padding-left: 15px;
    padding-right: 15px;*/
    transition: all 0.3s ease 0s;
}
.col-xs-1 .row, .col-xs-2 .row, .col-xs-3 .row, .col-xs-4 .row, .col-xs-5 .row, .col-xs-6 .row, .col-xs-7 .row, .col-xs-8 .row, .col-xs-9 .row, .col-xs-10 .row, .col-xs-11 .row, .col-xs-12 .row, .col-sm-1 .row, .col-sm-2 .row, .col-sm-3 .row, .col-sm-4 .row, .col-sm-5 .row, .col-sm-6 .row, .col-sm-7 .row, .col-sm-8 .row, .col-sm-9 .row, .col-sm-10 .row, .col-sm-11 .row, .col-sm-12 .row, .col-md-1 .row, .col-md-2 .row, .col-md-3 .row, .col-md-4 .row, .col-md-5 .row, .col-md-6 .row, .col-md-7 .row, .col-md-8 .row, .col-md-9 .row, .col-md-10 .row, .col-md-11 .row, .col-md-12 .row, .col-lg-1 .row, .col-lg-2 .row, .col-lg-3 .row, .col-lg-4 .row, .col-lg-5 .row, .col-lg-6 .row, .col-lg-7 .row, .col-lg-8 .row, .col-lg-9 .row, .col-lg-10 .row, .col-lg-11 .row, .col-lg-12 .row, .col-xl-1 .row, .col-xl-2 .row, .col-xl-3 .row, .col-xl-4 .row, .col-xl-5 .row, .col-xl-6 .row, .col-xl-7 .row, .col-xl-8 .row, .col-xl-9 .row, .col-xl-10 .row, .col-xl-11 .row, .col-xl-12 .row {
    width: auto !important;
    margin-top: 0;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 5px;
    width: 100%;
    transition: all 0.3s ease 0s;
}
.centered, .center_block {
    clear: both;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.container:after, .row:after, .col-xs-1:after, .col-xs-2:after, .col-xs-3:after, .col-xs-4:after, .col-xs-5:after, .col-xs-6:after, .col-xs-7:after, .col-xs-8:after, .col-xs-9:after, .col-xs-10:after, .col-xs-11:after, .col-xs-12:after, .col-sm-1:after, .col-sm-2:after, .col-sm-3:after, .col-sm-4:after, .col-sm-5:after, .col-sm-6:after, .col-sm-7:after, .col-sm-8:after, .col-sm-9:after, .col-sm-10:after, .col-sm-11:after, .col-sm-12:after, .col-md-1:after, .col-md-2:after, .col-md-3:after, .col-md-4:after, .col-md-5:after, .col-md-6:after, .col-md-7:after, .col-md-8:after, .col-md-9:after, .col-md-10:after, .col-md-11:after, .col-md-12:after, .col-lg-1:after, .col-lg-2:after, .col-lg-3:after, .col-lg-4:after, .col-lg-5:after, .col-lg-6:after, .col-lg-7:after, .col-lg-8:after, .col-lg-9:after, .col-lg-10:after, .col-lg-11:after, .col-lg-12:after, .col-xl-1:after, .col-xl-2:after, .col-xl-3:after, .col-xl-4:after, .col-xl-5:after, .col-xl-6:after, .col-xl-7:after, .col-xl-8:after, .col-xl-9:after, .col-xl-10:after, .col-xl-11:after, .col-xl-12:after {
    content: "";
    display: table;
    clear: both;
}

.hide, .hidden { display: none !important; }
.show { display: block !important; }
.invisible { visibility: hidden; }
.text_hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
.affix { position: fixed; }
.float_left { float: left; }
.float_right { float: right; }
.center { text-align: center; }
.clear { clear: both; }
.clear_left { clear: left; }
.clear_right { clear: right; }

.col-xs-1 { width: 8.33333333% }
.col-xs-2 { width: 16.66666667% }
.col-xs-3 { width: 25% }
.col-xs-4 { width: 33.33333333% }
.col-xs-5 { width: 41.66666667% }
.col-xs-6 { width: 50% }
.col-xs-7 { width: 58.33333333% }
.col-xs-8 { width: 66.66666667% }
.col-xs-9 { width: 75% }
.col-xs-10 { width: 83.33333333% }
.col-xs-11 { width: 91.66666667% }
.col-xs-12 { width: 100% }
.offset-xs-0 { margin-left: 0% }
.offset-xs-1 { margin-left: 8.33333333% }
.offset-xs-2 { margin-left: 16.66666667% }
.offset-xs-3 { margin-left: 25% }
.offset-xs-4 { margin-left: 33.33333333% }
.offset-xs-5 { margin-left: 41.66666667% }
.offset-xs-6 { margin-left: 50% }
.offset-xs-7 { margin-left: 58.33333333% }
.offset-xs-8 { margin-left: 66.66666667% }
.offset-xs-9 { margin-left: 75% }
.offset-xs-10 { margin-left: 83.33333333% }
.offset-xs-11 { margin-left: 91.66666667% }
.offset-xs-12 { margin-left: 100% }
.pull-xs-0 { right: auto }
.pull-xs-1 { right: 8.33333333% }
.pull-xs-2 { right: 16.66666667% }
.pull-xs-3 { right: 25% }
.pull-xs-4 { right: 33.33333333% }
.pull-xs-5 { right: 41.66666667% }
.pull-xs-6 { right: 50% }
.pull-xs-7 { right: 58.33333333% }
.pull-xs-8 { right: 66.66666667% }
.pull-xs-9 { right: 75% }
.pull-xs-10 { right: 83.33333333% }
.pull-xs-11 { right: 91.66666667% }
.pull-xs-12 { right: 100% }
.push-xs-0 { left: auto }
.push-xs-1 { left: 8.33333333% }
.push-xs-2 { left: 16.66666667% }
.push-xs-3 { left: 25% }
.push-xs-4 { left: 33.33333333% }
.push-xs-5 { left: 41.66666667% }
.push-xs-6 { left: 50% }
.push-xs-7 { left: 58.33333333% }
.push-xs-8 { left: 66.66666667% }
.push-xs-9 { left: 75% }
.push-xs-10 { left: 83.33333333% }
.push-xs-11 { left: 91.66666667% }
.push-xs-12 { left: 100% }
.centered-xs {
    float: none;
    clear: both;
    margin-right: auto;
    margin-left: auto;
}
.uncentered-xs {
    float: left;
    margin-right: 0;
    margin-left: 0;
}

/*@media (min-width: 36em) { /* Small devices (landscape phones, 576px and up) */
@media (min-width: 34.375em) { /* Small devices (landscape phones, 549px and up) */
    .container { width: 94%; max-width: 570px; max-width: 600px; }
    .container.fluid { max-width: 94%; }
    .col-sm-1 { width: 8.33333333% }
    .col-sm-2 { width: 16.66666667% }
    .col-sm-3 { width: 25% }
    .col-sm-4 { width: 33.33333333% }
    .col-sm-5 { width: 41.66666667% }
    .col-sm-6 { width: 50% }
    .col-sm-7 { width: 58.33333333% }
    .col-sm-8 { width: 66.66666667% }
    .col-sm-9 { width: 75% }
    .col-sm-10 { width: 83.33333333% }
    .col-sm-11 { width: 91.66666667% }
    .col-sm-12 { width: 100% }
    .offset-sm-0 { margin-left: 0% }
    .offset-sm-1 { margin-left: 8.33333333% }
    .offset-sm-2 { margin-left: 16.66666667% }
    .offset-sm-3 { margin-left: 25% }
    .offset-sm-4 { margin-left: 33.33333333% }
    .offset-sm-5 { margin-left: 41.66666667% }
    .offset-sm-6 { margin-left: 50% }
    .offset-sm-7 { margin-left: 58.33333333% }
    .offset-sm-8 { margin-left: 66.66666667% }
    .offset-sm-9 { margin-left: 75% }
    .offset-sm-10 { margin-left: 83.33333333% }
    .offset-sm-11 { margin-left: 91.66666667% }
    .offset-sm-12 { margin-left: 100% }
    .pull-sm-0 { right: auto }
    .pull-sm-1 { right: 8.33333333% }
    .pull-sm-2 { right: 16.66666667% }
    .pull-sm-3 { right: 25% }
    .pull-sm-4 { right: 33.33333333% }
    .pull-sm-5 { right: 41.66666667% }
    .pull-sm-6 { right: 50% }
    .pull-sm-7 { right: 58.33333333% }
    .pull-sm-8 { right: 66.66666667% }
    .pull-sm-9 { right: 75% }
    .pull-sm-10 { right: 83.33333333% }
    .pull-sm-11 { right: 91.66666667% }
    .pull-sm-12 { right: 100% }
    .push-sm-0 { left: auto }
    .push-sm-1 { left: 8.33333333% }
    .push-sm-2 { left: 16.66666667% }
    .push-sm-3 { left: 25% }
    .push-sm-4 { left: 33.33333333% }
    .push-sm-5 { left: 41.66666667% }
    .push-sm-6 { left: 50% }
    .push-sm-7 { left: 58.33333333% }
    .push-sm-8 { left: 66.66666667% }
    .push-sm-9 { left: 75% }
    .push-sm-10 { left: 83.33333333% }
    .push-sm-11 { left: 91.66666667% }
    .push-sm-12 { left: 100% }
    .centered-sm {
        float: none;
        clear: both;
        margin-right: auto;
        margin-left: auto;
    }
    .uncentered-sm {
        float: left;
        margin-right: 0;
        margin-left: 0;
    }
}
@media (min-width: 48em) { /* Medium devices (tablets, 768px and up) */
    .container { width: 94%; max-width: 750px; max-width: 800px }
    .container.fluid { max-width: 94%; }
    .col-md-1 { width: 8.33333333% }
    .col-md-2 { width: 16.66666667% }
    .col-md-3 { width: 25% }
    .col-md-4 { width: 33.33333333% }
    .col-md-5 { width: 41.66666667% }
    .col-md-6 { width: 50% }
    .col-md-7 { width: 58.33333333% }
    .col-md-8 { width: 66.66666667% }
    .col-md-9 { width: 75% }
    .col-md-10 { width: 83.33333333% }
    .col-md-11 { width: 91.66666667% }
    .col-md-12 { width: 100% }
    .offset-md-0 { margin-left: 0% }
    .offset-md-1 { margin-left: 8.33333333% }
    .offset-md-2 { margin-left: 16.66666667% }
    .offset-md-3 { margin-left: 25% }
    .offset-md-4 { margin-left: 33.33333333% }
    .offset-md-5 { margin-left: 41.66666667% }
    .offset-md-6 { margin-left: 50% }
    .offset-md-7 { margin-left: 58.33333333% }
    .offset-md-8 { margin-left: 66.66666667% }
    .offset-md-9 { margin-left: 75% }
    .offset-md-10 { margin-left: 83.33333333% }
    .offset-md-11 { margin-left: 91.66666667% }
    .offset-md-12 { margin-left: 100% }
    .pull-md-0 { right: auto }
    .pull-md-1 { right: 8.33333333% }
    .pull-md-2 { right: 16.66666667% }
    .pull-md-3 { right: 25% }
    .pull-md-4 { right: 33.33333333% }
    .pull-md-5 { right: 41.66666667% }
    .pull-md-6 { right: 50% }
    .pull-md-7 { right: 58.33333333% }
    .pull-md-8 { right: 66.66666667% }
    .pull-md-9 { right: 75% }
    .pull-md-10 { right: 83.33333333% }
    .pull-md-11 { right: 91.66666667% }
    .pull-md-12 { right: 100% }
    .push-md-0 { left: auto }
    .push-md-1 { left: 8.33333333% }
    .push-md-2 { left: 16.66666667% }
    .push-md-3 { left: 25% }
    .push-md-4 { left: 33.33333333% }
    .push-md-5 { left: 41.66666667% }
    .push-md-6 { left: 50% }
    .push-md-7 { left: 58.33333333% }
    .push-md-8 { left: 66.66666667% }
    .push-md-9 { left: 75% }
    .push-md-10 { left: 83.33333333% }
    .push-md-11 { left: 91.66666667% }
    .push-md-12 { left: 100% }
    .centered-md {
        float: none;
        clear: both;
        margin-right: auto;
        margin-left: auto;
    }
    .uncentered-md {
        float: left;
        margin-right: 0;
        margin-left: 0;
    }
}
@media (min-width: 62em) { /* Large devices (desktops, 992px and up) */
    .container { width: 96%; max-width: 1200px; }
    .container.fluid { max-width: 96%; }
    .col-lg-1 { width: 8.33333333% }
    .col-lg-2 { width: 16.66666667% }
    .col-lg-3 { width: 25% }
    .col-lg-4 { width: 33.33333333% }
    .col-lg-5 { width: 41.66666667% }
    .col-lg-6 { width: 50% }
    .col-lg-7 { width: 58.33333333% }
    .col-lg-8 { width: 66.66666667% }
    .col-lg-9 { width: 75% }
    .col-lg-10 { width: 83.33333333% }
    .col-lg-11 { width: 91.66666667% }
    .col-lg-12 { width: 100% }
    .offset-lg-0 { margin-left: 0% }
    .offset-lg-1 { margin-left: 8.33333333% }
    .offset-lg-2 { margin-left: 16.66666667% }
    .offset-lg-3 { margin-left: 25% }
    .offset-lg-4 { margin-left: 33.33333333% }
    .offset-lg-5 { margin-left: 41.66666667% }
    .offset-lg-6 { margin-left: 50% }
    .offset-lg-7 { margin-left: 58.33333333% }
    .offset-lg-8 { margin-left: 66.66666667% }
    .offset-lg-9 { margin-left: 75% }
    .offset-lg-10 { margin-left: 83.33333333% }
    .offset-lg-11 { margin-left: 91.66666667% }
    .offset-lg-12 { margin-left: 100% }
    .pull-lg-0 { right: auto }
    .pull-lg-1 { right: 8.33333333% }
    .pull-lg-2 { right: 16.66666667% }
    .pull-lg-3 { right: 25% }
    .pull-lg-4 { right: 33.33333333% }
    .pull-lg-5 { right: 41.66666667% }
    .pull-lg-6 { right: 50% }
    .pull-lg-7 { right: 58.33333333% }
    .pull-lg-8 { right: 66.66666667% }
    .pull-lg-9 { right: 75% }
    .pull-lg-10 { right: 83.33333333% }
    .pull-lg-11 { right: 91.66666667% }
    .pull-lg-12 { right: 100% }
    .push-lg-0 { left: auto }
    .push-lg-1 { left: 8.33333333% }
    .push-lg-2 { left: 16.66666667% }
    .push-lg-3 { left: 25% }
    .push-lg-4 { left: 33.33333333% }
    .push-lg-5 { left: 41.66666667% }
    .push-lg-6 { left: 50% }
    .push-lg-7 { left: 58.33333333% }
    .push-lg-8 { left: 66.66666667% }
    .push-lg-9 { left: 75% }
    .push-lg-10 { left: 83.33333333% }
    .push-lg-11 { left: 91.66666667% }
    .push-lg-12 { left: 100% }
    .centered-lg {
        float: none;
        clear: both;
        margin-right: auto;
        margin-left: auto;
    }
    .uncentered-lg {
        float: left;
        margin-right: 0;
        margin-left: 0;
    }
}
@media (min-width: 75em) { /* Extra large devices (large desktops, 1200px and up) */
    .container.fluid { width: 96%; max-width: 1200px; }
    .col-xl-1 { width: 8.33333333% }
    .col-xl-2 { width: 16.66666667% }
    .col-xl-3 { width: 25% }
    .col-xl-4 { width: 33.33333333% }
    .col-xl-5 { width: 41.66666667% }
    .col-xl-6 { width: 50% }
    .col-xl-7 { width: 58.33333333% }
    .col-xl-8 { width: 66.66666667% }
    .col-xl-9 { width: 75% }
    .col-xl-10 { width: 83.33333333% }
    .col-xl-11 { width: 91.66666667% }
    .col-xl-12 { width: 100% }
    .offset-xl-0 { margin-left: 0% }
    .offset-xl-1 { margin-left: 8.33333333% }
    .offset-xl-2 { margin-left: 16.66666667% }
    .offset-xl-3 { margin-left: 25% }
    .offset-xl-4 { margin-left: 33.33333333% }
    .offset-xl-5 { margin-left: 41.66666667% }
    .offset-xl-6 { margin-left: 50% }
    .offset-xl-7 { margin-left: 58.33333333% }
    .offset-xl-8 { margin-left: 66.66666667% }
    .offset-xl-9 { margin-left: 75% }
    .offset-xl-10 { margin-left: 83.33333333% }
    .offset-xl-11 { margin-left: 91.66666667% }
    .offset-xl-12 { margin-left: 100% }
    .pull-xl-0 { right: auto }
    .pull-xl-1 { right: 8.33333333% }
    .pull-xl-2 { right: 16.66666667% }
    .pull-xl-3 { right: 25% }
    .pull-xl-4 { right: 33.33333333% }
    .pull-xl-5 { right: 41.66666667% }
    .pull-xl-6 { right: 50% }
    .pull-xl-7 { right: 58.33333333% }
    .pull-xl-8 { right: 66.66666667% }
    .pull-xl-9 { right: 75% }
    .pull-xl-10 { right: 83.33333333% }
    .pull-xl-11 { right: 91.66666667% }
    .pull-xl-12 { right: 100% }
    .push-xl-0 { left: auto }
    .push-xl-1 { left: 8.33333333% }
    .push-xl-2 { left: 16.66666667% }
    .push-xl-3 { left: 25% }
    .push-xl-4 { left: 33.33333333% }
    .push-xl-5 { left: 41.66666667% }
    .push-xl-6 { left: 50% }
    .push-xl-7 { left: 58.33333333% }
    .push-xl-8 { left: 66.66666667% }
    .push-xl-9 { left: 75% }
    .push-xl-10 { left: 83.33333333% }
    .push-xl-11 { left: 91.66666667% }
    .push-xl-12 { left: 100% }
    .centered-xl {
        float: none;
        clear: both;
        margin-right: auto;
        margin-left: auto;
    }
    .uncentered-xl {
        float: left;
        margin-right: 0;
        margin-left: 0;
    }
}

/* ----------------------------------------------------------------------------
        Typography
----------------------------------------------------------------------------- */
h1, h2, h3, h4, h5 {
    /*margin: 25px 0 15px 0;*/
    margin: 1.2em 0 0.5em 0;
    padding: 0;
    color: #444444;
    font-family: 'Roboto Slab', 'Open Sans', 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 400 !important;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
}
h1, .h1 { font-size: 1.602em; margin-top: 0; }
h2, .h2 { font-size: 1.424em; }
h3, .h3 { font-size: 1.266em; }
h4, .h4 { font-size: 1.125em; }
h5, .h5 { font-size: 1em; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #CC4433; }
p { margin: 0 0 1.3em 0; }
a { color: #CC4433; text-decoration: none; outline: none !important; }
a:hover, a:active { /*text-decoration: underline;*/ border-width: 0 0 1px 0; border-style: dotted; -webkit-tap-highlight-color: rgba(0,0,0,0); }
a.img:hover, a.img:active { text-decoration: none; border: 0; }
ul, ol { margin-left: 35px; margin-top: 1em; margin-bottom: 1em; }
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h1 + ol, h2 + ol, h3 + ol, h4 + ol  { margin-top: 0; }
ul { list-style: disc outside; }
ol { list-style: decimal; }
ul.check, ul.star, ul.carrot { margin-left: 15px; list-style: none outside; }
ul.disc { list-style: disc outside; }
ul.circle { list-style: circle outside; }
ul.square { list-style: square outside; }
ul.check li, ul.star li, ul.carrot li { padding: 0 0 0 22px; }
ul.carrot li { padding: 0 0 0 16px; }
ul.check > li:before, ul.star > li:before, ul.carrot > li:before { display: inline-block; margin-top: 1px; margin-left: -22px; width: 22px; content: "\e840"; height: inherit; color: #0099FF; font-family: 'icons'; font-size: 14px; vertical-align: top; font-weight: normal !important; }
ul.star > li:before { content: "\e834"; }
ul.carrot > li:before { margin-top: -1px; margin-left: -16px; width: 16px; content: "\00BB"; color: inherit; font-size: inherit; }
ul.check li li, ul.star li li, ul.carrot li li { padding: 0; }
ul ul, ul ol, ol ol, ol ul { margin: 5px 0 5px 25px; }
ol ol { list-style: lower-alpha; }
ol ul, ul ul { list-style: circle; }
ul ol { list-style: decimal; }
ul li, ol li { margin: 5px 0 5px 0; }
dl dt { font-weight: bold; }
#content, #main_content, .break_word { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; }

@media (min-width: 48em) { /* Medium devices (tablets, 768px and up) */
    h1, .h1 { font-size: 1.8em; }
    h2, .h2 { font-size: 1.55em; }
    h3, .h3 { font-size: 1.32em; }
    h4, .h4 { font-size: 1.125em; }
    h5, .h5 { font-size: 1em; }
}
@media (min-width: 62em) { /* Large devices (desktops, 992px and up) */
    h1, .h1 { font-size: 2.074em; }
    h2, .h2 { font-size: 1.728em; }
    h3, .h3 { font-size: 1.44em; }
    h4, .h4 { font-size: 1.2em; }
    h5, .h5 { font-size: 1.1em; }
}
@media (min-width: 75em) { /* Extra large devices (large desktops, 1200px and up) */
    h1, .h1 { font-size: 2.441em; }
    h2, .h2 { font-size: 1.953em; }
    h3, .h3 { font-size: 1.563em; }
    h4, .h4 { font-size: 1.25em; }
    h5, .h5 { font-size: 1.1em; }
}

@font-face {
    font-family: 'icons';
    src: url('../font/icons.eot?24804043');
    src: url('../font/icons.eot?24804043#iefix') format('embedded-opentype'),
        url('../font/icons.woff?24804043') format('woff'),
        url('../font/icons.ttf?24804043') format('truetype'),
        url('../font/icons.svg?24804043#icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ----------------------------------------------------------------------------
        Navigation Menu
----------------------------------------------------------------------------- */
#menutoggle {
    display: block;
    margin: 0;
    padding: 0 22px;
    width: auto;
    color: #fff;
    background: #37474f;
    height: 60px;
    font: 18px/46px 'Open Sans','Trebuchet MS',Verdana, Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 4px 4px 0 0;
    transition: background 0.2s linear 0s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#menutoggle span {
    display: none;
}
#menutoggle:before {
    display: inline-block;
    margin-left: 0;
    width: 18px;
    height: 45px;
    line-height: 48px;
    content: "\e826";
    color: inherit;
    font-family: 'icons';
    text-align: center;
    font-size: 21px;
    vertical-align: top;
}
#menutoggle.is-active:before {
    content: "\e844";
}
#menutoggle:hover, #menutoggle:active, #menutoggle.is-active {
    background-color: #455a64;
    border-radius: 4px 4px 0 0;
}
#menutoggle { display: block; }
#nav {
    clear: both;
    margin: 0;
    width: 100%;
    height: 0;
    overflow: visible;
    position: relative;
    z-index: 1000;
    border-top: 1px solid #37474f;
}
#nav ul {
    float: none;
    display: block;
    margin: 0;
    width: auto;
    opacity: 0;
    max-height: 0;
    background: #37474f;
    overflow: hidden;
    transition: max-height 0.25s cubic-bezier(0, 0.7, 0, 1), opacity 0.2s ease-in-out;
    border-radius: 0 0 4px 4px;
    top: 1px;
    border: 0;
    position: relative;
}
#nav #menutoggle.is-active + ul {
    max-height: 1000px;
    opacity: 1;
    transition: max-height 0.3s ease-in-out, opacity 0.25s ease-in-out;
}
#nav li {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
    border: 0;
    border-top: 1px dotted #455a64;
}
#nav li:first-child {
    border-top: 0;
}
#nav li.onmobile {
    display: block;
}
#nav a, #nav span.submenu {
    float: none;
    display: block;
    margin: 0;
    padding: 9px 20px;
    height: auto;
    color: #fff;
    line-height: 1.6em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Open Sans', 'Helvetica Neue', Tahoma, Arial, sans-serif;
    border: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transition: background 0.17s linear 0s;
}
#nav span.submenu:after {
    float: right;
    margin-left: 10px;
    width: 15px;
    height: inherit;
    content: "\e817";
    color: inherit;
    font-family: 'icons';
    text-align: center;
    font-size: 105%;
    vertical-align: top;
}
#nav span.submenu.is-active {
    border-bottom: 1px dotted #455a64;
}
#nav span.submenu.is-active:after {
    content: "\e816";
}
#nav ul.submenu {
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 0;
    background: none;
    opacity: 1;
    position: relative;
    top: 0;
    transition: max-height 0.15s linear 0s;
}
#nav span.submenu.is-active + ul.submenu {
    max-height: 360px;
    overflow-y: auto;
}
#nav ul.submenu a {
    padding-left: 40px;
    background: none;
}
#nav ul.submenu a:before {
    display: inline-block;
    margin-right: 5px;
    margin-left: -15px;
    width: 10px;
    height: inherit;
    content: "\00BB";
    color: inherit;
    font-family: 'icons';
    text-align: center;
    font-size: inherit;
    vertical-align: top;
}
#nav a:hover, #nav a.is-active, #nav li:hover span.submenu, #nav ul.submenu a:hover, #nav ul.submenu a.is-active {
    background: #455a64;
}


@media (min-width: 36em) { /* Small devices (landscape phones, 576px and up) */
    /*@media (min-width: 48em) { 
    /* Medium devices (tablets, 768px and up) */
    #menutoggle { padding: 0 15px 0 15px; }
    #menutoggle span { display: inline-block; }
    #menutoggle:before { margin-right: 10px; }

}
@media (min-width: 62em) { /* Large devices (desktops, 992px and up) */
    #menutoggle { display: none; }
    #nav {
        height: 45px;
        background:  #900C3F;
        position: relative;
        z-index: 99;
        border: 0;
        border-radius: 4px;
    }
    #nav ul {
        display: block !important;
        float: left;
        width: 100%;
        height: auto;
        opacity: 1;
        margin: 4px 0;
        position: relative;
        z-index: 10;
        top: 0;
        overflow: visible;
    }
    #nav li {
        float: left;
        margin: 0 5px;
        padding: 0;
        height: 37px;
        width: auto;
        min-width: auto;
        position: relative;
        border: 0;
        overflow: visible;
    }
    #nav li:first-child {
        margin-left: 4px;
        border-left: 0;
    }
    #nav li.last {
        border-right: 0;
    }
    #nav li.right {
        float: right;
        margin-right: 4px;
        border-right: 0;
    }
    #nav li.onmobile {
        display: none;
    }
    #nav a, #nav span.submenu {
        float: left;
        margin: 0;
        padding: 0 14px;
        height: 37px;
        border: 0;
        color: yellow;
        font-weight: normal;
        line-height: 39px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 3px;
        transition: background 0.2s linear 0s;
        cursor: pointer;
    }

    #nav span.submenu:after {
        display: none;
    }
    #nav a:hover, #nav a.is-active, #nav li:hover span.submenu, #nav ul.submenu a:hover, #nav span.submenu.is-active {
        background: #455a64;
    }
    #nav li:hover a.submenu, #nav li:hover span.submenu, #nav span.submenu.is-active.hover {
        border-radius: 3px 3px 0 0;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    #nav li:hover {
        z-index: 11;
    }
    #nav ul.submenu {
        float:left;
        margin: 0;
        padding: 0;
        width: 250px;
        max-height: 0;
        position: absolute;
        opacity: 0;
        background: #455a64;
        top: 95%;
        z-index: 10;
        border-radius: 0 3px 3px 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        transition: max-height 0.2s linear 0s, padding 0.2s linear 0s, opacity 0.2s linear 0s;
        overflow: hidden;
        overflow-y: auto;
    }
    #nav li:hover ul.submenu, #nav ul.submenu.is-active {
        padding: 3px 0;
        left: 0;
        max-height: 360px;
        opacity: 1;
    }
    #nav ul.submenu li {
        float: none;
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        height: auto;
    }
    #nav ul.submenu a {
        float: none;
        display: block;
        margin: 0;
        padding: 7px 15px 7px 28px;
        height: auto;
        text-transform: none;
        text-align: left;
        line-height: 1.5em;
        border-radius: 0;
        border: 0;
        border-top: 1px dotted #37474f;
    }
    #nav ul.submenu li:first-child a {
        border: 0;
    }
    #nav ul.submenu li a:hover, #nav ul.submenu li a.is-active {
        background: #455a64;
    }
}
