/*
Copyright (C) 2018 Gregor Baird

*/
/* 
    Created on : 07/04/2018, 2:26:03 PM
    Author     : gregorb
*/


.logo {
    display: block;
}


@media (max-height: 1000px) {
    .logo {

        height: 100%;
    }
    .logo_div {
        height: 30%;

    }
}


@media (min-width: 1400px) {
    .bgdiv {
        width: 1400px;
    }
    .hdiv {
        display: none;
    }

    .tdiv {
        display: none;
    }

    .unit {
        font-size: 12px;
    }
}


@media (min-width: 1200px) and (max-width: 1400px) {
    .bgdiv {
        width: 100%;
    }
    .hdiv {
        display: none;
    }
    .tdiv {
        display: none;
    }
    .unit {
        font-size: 11px;
    }

}

@media (min-width: 1000px) and (max-width: 1200px) {
    .bgdiv {
        width: 100%;
    }
    .hdiv {
        display: none;
    }
    .tdiv {
        display: none;
    }
    .unit {
        font-size: 10px;
    }
}



@media (min-width: 700px) and (max-width: 1000px) {
    .bgdiv {
        display: none;

    }
    .hdiv {
        width: 700px;
    }
    .tdiv {
        display: none;
    }
    .unit {
        font-size: 12px;
    }


}

@media (min-width: 500px) and (max-width: 700px) {
    .bgdiv {
        display: none;

    }
    .hdiv {
        width: 100%;
    }
    .tdiv {
        display: none;
    }
    .unit {
        font-size: 12px;
    }
}






@media (max-width: 500px) {
    .bgimage {
        display: none;
    }

    .bgdiv {
        display: none;

    }
    .hdiv {
        display: none;
    }

    .tdiv {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .unit {
        position: relative;
    }
}