#mlaa_table:hover{
    background-color: lightgoldenrodyellow;
    font: black;
    cursor:pointer;
}
#help{
    color: red;
}
h2{
    color: darkblue;
    font-size: 18px;
}

.btn-colour-maroon {
    color: #fff;
    background-color: maroon;
    border-color: #004E64;
}

.btn-colour-maroon:hover,
.btn-colour-maroon:active,
.btn-colour-maroon:focus,
.btn-colour-maroon.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #003D4F;
    color: #ffffff;
    border-color: #003D4F;
}
.btn-colour-yellow {
    color: #fff;
    background-color: #FF9900;
    border-color: darkorange;
}

.btn-colour-yellow:hover,
.btn-colour-yellow:active,
.btn-colour-yellow:focus,
.btn-colour-yellow.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #003D4F;
    color: #ffffff;
    border-color: #003D4F;
}
.btn-payments {
    color: #fff;
    background-color: purple;
    border-color: darkred;
}

.btn-payments:hover,
.btn-payments:active,
.btn-payments:focus,
.btn-payments.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #003D4F;
    color: #ffffff;
    border-color: #003D4F;
}
.btn-holds {
    color: #fff;
    background-color: #FF00FF;
    border-color: darkred;
}

.btn-holds:hover,
.btn-holds:active,
.btn-holds:focus,
.btn-holds.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #003D4F;
    color: #ffffff;
    border-color: #003D4F;
}
h3{
    font-size: 16px;
    margin-top: 5px;
}
h1{
    font-size: 20px;
}

.item:hover{
    background-color: lightgoldenrodyellow !important; 
    font: red;
}

.dropdown-toggle{
    color: white !important;
}

.navbar-default .navbar-nav li a:focus{
    color: black !important;
}
.btn-primary{
    background-color: #0069d9;
}
.btn-danger{
    background-color: #c82333;
}
.btn-success{
    background-color: #218838;
}
.mibase-menu a{   
    min-width: 70px;
    font-size: 16px
}
.mibase-menu a:hover{
    color:black !important;
}
.mibase-menu li {
    padding-right: 5px;
}
.navbar-collapse{
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-nav{
 margin: 0px 0px;   
}
.print_toy{
    display:none;
}




