@media print {
    @page
    {
        margin-left: 0;
        size: B5;
        page-break-after:'';
    }

    border:solid 0.0mm #000000;
    p { font-size: 10pt; }
    h1 { font-size: 14pt;}
    h2 { font-size: 13pt; }
    h4 { font-size: 11pt; }
    body { margin: 0; background-image: none; font-size: 10pt; }
    .noprint { display: none; }
    table,td,tr {font-size: 10pt;
                 border:solid 0 #000000;}
}







