/* ----------------------------------------------------------------------------
        Structure
----------------------------------------------------------------------------- */
.main { 
	box-shadow: 0px 0px 5px 2px #9AB2DC;
    padding: 130px 30px 30px 30px;
    background-color: #fff8f2;
}
.navbar-fixed-top { background-color: #fff; box-shadow: 0px 1px 3px 1px #ccc; max-height: 120px; padding: 5px 0px; }
.mibase-logo { width: auto; max-width: 100%; height: 100%; max-height: 45px; margin: 0 auto; }
.logo-toy { max-height: 100px; width: auto; }

/* For mobile phones: */
@media only screen and (max-width: 414px) {
	body {background-color: #ccc; background-image: none;}
	.navbar-fixed-top {
		position: relative;
	    height: auto;
	    max-height: 100%;
	}
	.main { padding-top: 10px; }
}

/* ----------------------------------------------------------------------------
        Typography
----------------------------------------------------------------------------- */
body {font-family: 'Open Sans', 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif; background-color: #fff;}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    color: #444444;
    font-family: 'Open Sans', 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
    margin: 0;
}

h1 { 
	color: #99519F;
    text-align: center;
    font-size: 34px;
    text-shadow: 1px 1px 1px #4a0051; 
        margin-bottom: 10px;
}
h2 { text-align: center; font-size: 24px; }
h3 {line-height: 2; color: #666;}

label sup { color: #ff0000; }


/* ----------------------------------------------------------------------------
        Form tools
----------------------------------------------------------------------------- */
select, .form-control { height: 46px; }
.btn-success { margin-top: 30px; }


/* ----------------------------------------------------------------------------
        Modal box
----------------------------------------------------------------------------- */
 .modal-dialog{
    overflow-y: initial !important
}

 .modal-body {
    max-height: 500px;
    overflow-y: auto;
}

/* ----------------------------------------------------------------------------
        Footer
----------------------------------------------------------------------------- */
footer { padding: 0px; margin: 0px; }
footer .container { background-color: #444444; padding: 20px 10px; box-shadow: 0px 0px 1px 2px #c1c1c1; }
footer p { color: #fff; margin: 0; }
footer a { color: #FCF151; }
footer a:hover { color: #ccc; }
